*{
    padding:0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*:after,
*:before{
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html{
    font-size: 16px;
    font-family: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif; /* default for whole page */
    line-height: 1.6;
}
h1, h2, h3, h4{
    font-family: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif; /* serif for the headings */
}
ul{
    list-style: none;
}
.clearfix:after{
    display:table;
    clear: both;
    content: "";
}
.box {
    width: 90%;
    margin: 0 auto;
    min-height: 5rem;
}

.header{
    max-width: 1400px;
    margin: 0 auto;
}
.bg-img{
    background-image: url(/images/header-1-1600x400.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;   
}
.main1{
    max-width: 1400px;
    margin: 0 auto;
    
}
.bg-bio{
    width: 80%;
    margin: 0 auto;

}

.bg-skill{
    background-color: #373737;
    color:white;

}
.box1{
    max-width: 1400px;
    margin: 0 auto;
}
.skill{
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0 2rem 0;
}
.star-yellow{
    color:gold;
}

.bg-foot{
    background-color: white;
}
.box2{
    margin: 0 auto;
}
.box2 p{
    text-align: center;
    padding: 0.5rem 0 0 0;
}
.box h1{
    font-family: 'Bree Serif', serif;
}
.box-min h1{
    font-family: 'Bree Serif', serif;
}
.bio-text p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
}
.bio-img h2{
    font-family: 'Orbitron', sans-serif;
}
.skill h2{
    font-family: 'Orbitron', sans-serif;
}
li {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
}

td{
    padding: 0.2rem;
}
@media all and (max-width:700px){
    .box{
        display: none;
    }
    .box-min h1{
         padding: 2rem;
    }
    .navbar-toggler{
        margin: 0 0 0 2rem;
    }
}
@media all and (min-width:701px) and (max-width:900px){
    .box-min{
        display: none;
    }
    .box {
    width: 90%;
    margin: 0 auto;
    min-height: 5rem;
    }
  .navbar{
    float: right;
    margin: 2rem 0;
    background-color: none;
    font-weight: bold;
}
  .box h1{
    float: left;
    padding: 2rem;
    }
  .table1{
    font-size: 1.2rem;
    padding: 1.5rem 0;
}
   .table2{
    font-size: 1.2rem;
    padding: 1.5rem 0;
}
    .bio-img{
  float: left;
  width: 40%;
  padding: 5rem 1rem 1.5rem 0rem;
}
.bio-text{
  float: right;
  width: 60%;
  padding: 7rem 0 1.5rem 2rem; 
}
}
@media all and (min-width:901px){
    .box-min{
        display: none;
    }
    .box {
    width: 90%;
    margin: 0 auto;
    min-height: 5rem;
    }
.navbar{
    float: right;
    margin: 2rem;
    background-color: none;
    font-weight: bold;
}
.box h1{
    float: left;
    padding: 2rem;
    }
    .bio-img{
  float: left;
  width: 40%;
  padding: 5rem 1rem 1.5rem 0rem;
}
.bio-text{
  float: right;
  width: 60%;
  padding: 7rem 0 1.5rem 2rem; 
}
    .table1{
    font-size: 1rem;
    float: left;
    width:50%;
    padding: 1.5rem 0;
}
   .table2{
    font-size: 1rem;
    float: right;
    width:50%;
    padding: 1.5rem 0 0 1.5rem;  
}
}